{% extends "base.html" %}

{% block content %}

    {% if blog_id|int != 0 %}

        {% for blog in blogs %}

            {% if blog.blog_id==blog_id %}
    
                <a href="/blog?blog_id={{blog.blog_id}}"><h3>{{blog.title}}</h3></a>
                <p>{{blog.blog}}</p>

            {% endif %}
    
        {% endfor %}

    {% else %}

        {% for blog in blogs %}

            <a href="/blog?blog_id={{blog.blog_id}}"><h3>{{blog.title}}</h3></a>
            <p>{{blog.blog}}</p>

        {% endfor %}

    {% endif %}



{% endblock %}